*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}


body {
    font-family: "Rubik";
    



    margin:0;
        
    padding:0;
        
        
        
        
}


  
  
  input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
 
  button:hover {
    
    background-color: yellow
  }
  .check{
    position: absolute;
    width: 233px;
    height: 30px;
    left: 71px;
    top: 350px;
  }
  .createbtn{
    position: absolute;
    width: 233px;
    height: 30px;
    left: 71px;
    top: 470px;
    
    background: #EAB300;
    box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #000000;
    
  }
  .cancelbtn {
    position: absolute;
    width: 233px;
    height: 30px;
    left: 71px;
    top: 520px;
    
    background: #EAB300;
    box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #000000;
    
    }
  
  .submitbutton{
    position: absolute;
    width: 233px;
    height: 30px;
    left: 71px;
    top: 400px;
    background: #EAB300;
    box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #000000;

  }
  

.username{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 60px;
    top: 160px;  
}
.usernametext{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 60px;
    top: 180px;    
}
.pass{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 60px;
    top: 260px;  
}
.passtext{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 60px;
    top: 280px;  
}
  .bitcoin-icon {

    position: absolute;
width: 45px;
height: 45px;
left: 165px;
top: 0px;
}

.logo{
    position: absolute;
    width: 224px;
    height: 48px;
    left: 75px;
    top: 22px;
    
    font-family: Rounded Mplus 1c Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    
    color: #000000;
    
    
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}



.cancelbtn1 {
  position: absolute;
  width: 233px;
  height: 30px;
  left: 71px;
  top: 520px;
  background: #EAB300;
  box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  
  color: #000000;
}
.signupbtn{
  position: absolute;
  width: 233px;
  height: 30px;
  left: 71px;
  top: 450px;
  background: #EAB300;
  box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  
  color: #000000;
}




.modal {
  display: none; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: white;
}

.emaillabel{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 100px;
  top: 170px;
}
.emailplace{
  position: absolute;
  width: 350px;
  height: 45px;
  left: 100px;
  top: 190px; 
}
.passlab{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 100px;
  top: 260px;  

}
.passt{
    position: absolute;
    width: 85px;
    height: 45px;
    left: 100px;
    top: 280px; 

}

.name{
  position: absolute;
  width: 500px;
  height: 45px;
  left: 100px;
  top: 350px;  

}
.nametext{
    position: absolute;
    width: 85px;
    height: 45px;
    left: 100px;
    top: 370px; 

}
.signuptext{
  position: absolute;
    width: 500px;
    height: 45px;
    left: 70px;
    top: 120px; 
}


.close {
  position: absolute;
  left: 335px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color:#EAB300;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.bitcoin-icon1 {

  position: absolute;
width: 45px;
height: 45px;
left: 165px;
top: 0px;
}

.logo1{
  position: absolute;
  width: 224px;
  height: 48px;
  left: 75px;
  top: 22px;
  
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  
  color: #000000;
  
  
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}


