*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  
}

body {
  font-family: "Rubik";
  



  margin:0;
      
  padding:0;
      
      
      
      
}

.nav-container {
  position: absolute;
  width: 375px;
  height: 78px;
  left: 20px;
  top: 566px;
  
  border: 1px solid #060606;

}
.wrapper {

  max-width:  1200px;
  margin: 0 auto;
}

nav{
  
  display: flex;
  justify-content: space between;
  
}

.nav-items {
  display: flex;
  list-style-type: none;
  float: left;


  

}
.nav-items img:hover {
  transform: rotate(3deg)
  

}
.bitcoin-icon {

  position: absolute;
width: 45px;
height: 45px;
left: 165px;
top: 0px;
}

.logo{
  position: absolute;
  width: 224px;
  height: 48px;
  left: 75px;
  top: 22px;
  
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  
  color: #000000;
  
  
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h1,
h2,
p {
  font-family: "Red Hat Text", sans-serif;
  color: rgba(77, 77, 78);
}

.container {
  display: flex;
  justify-content: center;
}

cards {
  width: 90%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 140px;
  padding-bottom: 90px;
}

.btc,
.bsv,
.ethereum {
  display: grid;
  max-width: 300px;
  min-width: 250px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, 60px) 1fr;
  grid-template: "info" "chart";
  border-radius: 60px;
}

.btc {
  box-shadow: 10px 10px 20px 1px rgba(247, 147, 26, 0.15);
}

.bsv {
  box-shadow: 10px 10px 20px 1px rgba(72, 71, 46, 0.15);
}

.ethereum {
  box-shadow: 10px 10px 20px 1px rgba(78, 56, 216, 0.15);
}

.asset-info {
  grid-area: info;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%  20%;
}

.title {
  display: inline-flex;
}

card h1 {
  margin-left: 10px;
}

#btcChart,
#bsvChart,
#ethereumChart {
  grid-area: chart;
  border-radius: 0px 0px 30px 30px;
  margin-top: auto;
}

.div1{
  position: absolute;
left: 0%;
top:10px;
height: 500px;
width: 390px;
          overflow-y:scroll;

}
.goback1:hover {
   
  background-color: yellow;
}
.goback1 {
position: absolute;
width: 233px;
height: 30px;
left: 71px;
top: 811px;

background: #EAB300;
box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
border-radius: 13px;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;

}
