*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}


body {
    font-family: "Rubik";
    



    margin:0;
        
    padding:0;
        
        
        
        
}



.bitcoin-icon {

    position: absolute;
width: 45px;
height: 45px;
left: 165px;
top: 0px;
}

.logo{
    position: absolute;
    width: 224px;
    height: 48px;
    left: 75px;
    top: 22px;
    
    font-family: Rounded Mplus 1c Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    
    color: #000000;
    
    
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.goback {
    position: absolute;
    width: 233px;
    height: 30px;
    left: 71px;
    top: 511px;
    
    background: #EAB300;
    box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #000000;
    
    }

    .nav-container {
        position: absolute;
        width: 375px;
        height: 78px;
        left: 20px;
        top: 566px;
        
        border: 1px solid #060606;
    
    }
    .wrapper {
    
        max-width:  1200px;
        margin: 0 auto;
    }
    
    nav{
        
        display: flex;
        justify-content: space between;
        
    }
    
    .nav-items {
        display: flex;
        list-style-type: none;
        float: left;
    
    
        
    
    }
    .nav-items img:hover {
        transform: rotate(3deg)
        
    
    }
    .goback:hover {
   
        background-color: yellow;
}
.settingslogo{
    position: absolute;
    left: 155px;
    top: 130px;
}

